aikido_security_workflow.json
{
  "name": "Aikido Security Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aikido-scan-results",
        "options": {}
      },
      "id": "aikido-webhook-trigger",
      "name": "Aikido Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.payload.severity }}",
              "operation": "equal",
              "value2": "critical"
            },
            {
              "value1": "={{ $json.body.payload.severity }}",
              "operation": "equal",
              "value2": "high"
            },
            {
              "value1": "={{ $json.body.event_type }}",
              "operation": "equal",
              "value2": "ci.gate.failed"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "check-severity-aikido",
      "name": "Vulnerability Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        200
      ]
    },
    {
      "parameters": {
        "channel": "security-alerts",
        "text": "=🚨 *Aikido Security Finding Detected!*\n*Repository:* {{ $json.body.payload.code_repo_name || $json.body.payload.repository }}\n*Issue:* {{ $json.body.payload.rule || \"CI Gate Failed\" }}\n*Severity:* *{{ $json.body.payload.severity ? $json.body.payload.severity.toUpperCase() : \"HIGH\" }}*\n*Type:* {{ $json.body.payload.type || $json.body.event_type }}\n*Affected File:* `{{ $json.body.payload.affected_file || \"N/A\" }}`\n\n⚠️ Please triage findings immediately on the Aikido Dashboard: https://app.aikido.dev/",
        "otherOptions": {}
      },
      "id": "slack-alert-aikido",
      "name": "Alert Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        600,
        120
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-credential",
          "name": "Slack Security App"
        }
      }
    },
    {
      "parameters": {
        "projectKey": "SEC",
        "issueType": "Bug",
        "summary": "=Security Finding: {{ $json.body.payload.rule || \"CI Gate Failure\" }} in {{ $json.body.payload.code_repo_name || $json.body.payload.repository }}",
        "description": "=Vulnerability report details:\n- Tool: Aikido Security\n- Event: {{ $json.body.event_type }}\n- Issue Rule: {{ $json.body.payload.rule || \"N/A\" }}\n- Severity: {{ $json.body.payload.severity || \"N/A\" }}\n- Repository: {{ $json.body.payload.code_repo_name || $json.body.payload.repository }}\n- Affected File: {{ $json.body.payload.affected_file || \"N/A\" }}\n\nLink to dashboard: https://app.aikido.dev/",
        "additionalFields": {
          "priority": "High"
        }
      },
      "id": "jira-bug-creation-aikido",
      "name": "Create Jira Bug",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        600,
        280
      ],
      "credentials": {
        "jiraSoftwareServerApi": {
          "id": "jira-credential",
          "name": "Jira Cloud Integration"
        }
      }
    }
  ],
  "connections": {
    "Aikido Webhook": {
      "main": [
        [
          {
            "node": "Vulnerability Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vulnerability Found?": {
      "main": [
        [
          {
            "node": "Alert Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Jira Bug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "3"
}
