n8n_security_workflow.json
{
  "name": "Security Testing Runbook Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr-webhook",
        "options": {}
      },
      "id": "github-webhook-trigger",
      "name": "GitHub PR Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://semgrep.dev/api/v1/deployments/my-org/projects/my-repo/scans",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "commit_sha",
              "value": "={{ $json.body.pull_request.head.sha }}"
            },
            {
              "name": "branch",
              "value": "={{ $json.body.pull_request.head.ref }}"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-semgrep",
      "name": "Trigger Semgrep SAST",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        350,
        120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "semgrep-api-credential",
          "name": "Semgrep API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.snyk.io/rest/orgs/my-org-id/projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "repo_url",
              "value": "={{ $json.body.repository.html_url }}"
            },
            {
              "name": "ref",
              "value": "={{ $json.body.pull_request.head.ref }}"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-snyk",
      "name": "Trigger Snyk Dependency Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        350,
        280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "snyk-api-credential",
          "name": "Snyk API Token"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scan-results-callback",
        "options": {}
      },
      "id": "scan-results-webhook",
      "name": "Scan Results Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.body.findings.highCount }}",
              "operation": "larger",
              "value2": 0
            },
            {
              "value1": "={{ $json.body.findings.criticalCount }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "check-severity",
      "name": "Vulnerability Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        500
      ]
    },
    {
      "parameters": {
        "channel": "security-alerts",
        "text": "=🚨 *Critical Security Findings Detected!*\n*Repository:* {{ $json.body.repository }}\n*Branch:* {{ $json.body.branch }}\n*Tool:* {{ $json.body.tool }}\n\n*Summary of Findings:*\n• Critical: {{ $json.body.findings.criticalCount }}\n• High: {{ $json.body.findings.highCount }}\n• Medium: {{ $json.body.findings.mediumCount }}\n\n⚠️ PR Check failed. Please triage findings immediately.",
        "otherOptions": {}
      },
      "id": "slack-alert-findings",
      "name": "Alert Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        600,
        420
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-credential",
          "name": "Slack Security App"
        }
      }
    },
    {
      "parameters": {
        "projectKey": "SEC",
        "issueType": "Bug",
        "summary": "=Security Finding: {{ $json.body.tool }} in {{ $json.body.repository }}",
        "description": "=Vulnerability report details:\n- Tool: {{ $json.body.tool }}\n- Repository: {{ $json.body.repository }}\n- Branch: {{ $json.body.branch }}\n- Findings Details:\n  - Critical: {{ $json.body.findings.criticalCount }}\n  - High: {{ $json.body.findings.highCount }}\n  - Medium: {{ $json.body.findings.mediumCount }}\n\nLink to scan: {{ $json.body.scanUrl }}",
        "additionalFields": {
          "priority": "High"
        }
      },
      "id": "jira-bug-creation",
      "name": "Create Jira Bug",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        600,
        580
      ],
      "credentials": {
        "jiraSoftwareServerApi": {
          "id": "jira-credential",
          "name": "Jira Cloud Integration"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "weekly-dast-trigger",
      "name": "Weekly Monday 9AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        100,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zap-scanner-host.internal/api/v1/scans",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "target_url",
              "value": "https://staging.my-product.com"
            },
            {
              "name": "scan_profile",
              "value": "weekly-staging-run"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-dast-scan",
      "name": "Trigger DAST Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        350,
        800
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zap-scanner-credential",
          "name": "OWASP ZAP API Token"
        }
      }
    },
    {
      "parameters": {
        "channel": "security-alerts",
        "text": "🛡️ *Weekly DAST scan triggered on staging:* https://staging.my-product.com.\nResults will be processed and logged upon scan completion.",
        "otherOptions": {}
      },
      "id": "slack-log-dast-start",
      "name": "Slack DAST Log",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        600,
        800
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-credential",
          "name": "Slack Security App"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 10 1 */3 *"
            }
          ]
        }
      },
      "id": "quarterly-pentest-reminder",
      "name": "Quarterly Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        100,
        1000
      ]
    },
    {
      "parameters": {
        "channel": "security-alerts",
        "text": "📅 *Quarterly Penetration Testing Review Reminder*\n\nAccording to *Annexure A3*, we must assess whether to schedule a third-party Pen Test:\n1. Have we reached 500 customers?\n2. Are we signing our first major enterprise customer contract?\n3. Have we completed a major architectural overhaul?\n\nIf any are true, contact vendors for quotes ($10K-$40K budget expectation).\n*Reference:* [Annexure A3 Pen Testing Protocol]",
        "otherOptions": {}
      },
      "id": "slack-pentest-reminder",
      "name": "Slack Pen Test Reminder",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        350,
        1000
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-credential",
          "name": "Slack Security App"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "log-security-incident",
        "options": {}
      },
      "id": "security-incident-trigger",
      "name": "Incident Trigger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        1220
      ]
    },
    {
      "parameters": {
        "channelName": "=incident-{{ $json.body.incidentId }}",
        "options": {
          "description": "=Incident Response Room for: {{ $json.body.title }}"
        }
      },
      "id": "slack-create-channel",
      "name": "Create Incident Channel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        350,
        1160
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-credential",
          "name": "Slack Security App"
        }
      }
    },
    {
      "parameters": {
        "channel": "=incident-{{ $json.body.incidentId }}",
        "text": "=⚠️ *INCIDENT RESPONSER PLAYBOOK ACTIVATED*\n*Incident ID:* {{ $json.body.incidentId }}\n*Title:* {{ $json.body.title }}\n*Severity:* {{ $json.body.severity }}\n*Description:* {{ $json.body.description }}\n\n🛡️ *Triage & Containment Checklist:*\n1️⃣ Stop the bleeding (block malicious IPs, rotate exposed tokens, isolate servers).\n2️⃣ Check credit adjustments / subscription tables (IAP validation / credit logic).\n3️⃣ Draft incident report in post-mortem folder.\n\n_Assigned Incident Commander: Engineering Lead / Ops On-call._",
        "otherOptions": {}
      },
      "id": "slack-post-playbook",
      "name": "Post IR Playbook",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        600,
        1160
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-credential",
          "name": "Slack Security App"
        }
      }
    },
    {
      "parameters": {
        "projectKey": "SEC",
        "issueType": "Task",
        "summary": "=[INCIDENT RESPONSE] {{ $json.body.title }}",
        "description": "=Incident Logged:\n- Severity: {{ $json.body.severity }}\n- Description: {{ $json.body.description }}\n- Slack Room: #incident-{{ $json.body.incidentId }}\n\nEnsure Post-Mortem is completed within 48 hours of recovery.",
        "additionalFields": {
          "priority": "Highest"
        }
      },
      "id": "jira-incident-creation",
      "name": "Create Incident Jira",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        350,
        1320
      ],
      "credentials": {
        "jiraSoftwareServerApi": {
          "id": "jira-credential",
          "name": "Jira Cloud Integration"
        }
      }
    }
  ],
  "connections": {
    "GitHub PR Webhook": {
      "main": [
        [
          {
            "node": "Trigger Semgrep SAST",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger Snyk Dependency Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Results Callback": {
      "main": [
        [
          {
            "node": "Vulnerability Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vulnerability Found?": {
      "main": [
        [
          {
            "node": "Alert Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Jira Bug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Monday 9AM": {
      "main": [
        [
          {
            "node": "Trigger DAST Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger DAST Scan": {
      "main": [
        [
          {
            "node": "Slack DAST Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quarterly Trigger": {
      "main": [
        [
          {
            "node": "Slack Pen Test Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incident Trigger Webhook": {
      "main": [
        [
          {
            "node": "Create Incident Channel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Incident Jira",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Incident Channel": {
      "main": [
        [
          {
            "node": "Post IR Playbook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1",
  "meta": {
    "templateId": "security-testing-runbook-annexure-a3"
  }
}
